@font-face{
    font-family: myFont;
    src: url(Roboto-Light.ttf);
}
body {
    font-family: myFont;

}

.mymenu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menul {
    display: flex;
}

.menu2 {
    display: flex;

}

.menu-item {
    padding: 50px;
}

.b {
    
    color: #4461F2;
    font-weight: 400;
    font-size: 20px;


}

.lift {
    
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.second {
    display: flex;
    justify-content: space-around;


}

.p1 {
    font-family: 'Phetsarath';
    
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    width: 547.96px;
    color: #000000;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.p2 {
  
    font-weight: 400;
    font-size: 23px;
    line-height: 42px;
    color: #14162E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.p3 {
    
    font-weight: 400;
    font-size: 23px;
    line-height: 42px;
    color: #0a1deb;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fig {
    position: relative;
    border: none;
}

.pic {
    position: absolute;
    top: 200px;
    left: calc(100% - 300px);
    /*left: 250px;*/

}

.box {
    width: 250px;
    height: 40px;
    border: solid;
    background: #EAF0F7;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.p4 {
    
    font-weight: 400;
    font-size: 12px;
    color: #C7C7C7;
    padding-left: 160px;
    padding-bottom: 25px;
}

.but {
    width: 260px;
    height: 40px;
    color: white;
    border-radius: 7px;
    background: #4461F2;
    box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
    border: solid;
    border-color: #415de9;
}

.p5 {
    display: inline-block;
    justify-content: center;
    font-family: 'Content';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #ACADAC;
    letter-spacing: 0.09em;
    margin-top: 30px;
}

.icon {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}

.log {
    margin-left: 130px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.emaildiv {
    position: relative;
}

.iconxdiv {
    position: absolute;
    top: 9px;
    right: 9px;
}

.passdiv {
    position: relative;
}

.eyediv {
    position: absolute;
    top: 9px;
    right: 9px;
}

hr {
    display: inline-block;
    width: 30%;
    margin-bottom: 2px;
    background: #D9D9D9;
    border: 1px solid #DFDFDF;
}

.background {
    position: absolute;
    top: -40px;
    right:0px;
    
}

.img-xicon {
    padding-left: -5px;
}

.icons {
    display: flex;
    flex-direction: row;
    flex: 1f 1f 1f;
    justify-content: space-around;
    margin-top: 30px;
}
.mainpic{
    width:450px ;
    height:350px ;
}
.union{
    width:541.82px ;
    height:587.16px ;
}